<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPO_RUNTIME_VERSION</key>
	<string>2.0.4</string>
	<key>developmentUrl</key>
	<string>exp9d67daaf49924ef3bb8710f4bf65523b://localhost:19000</string>
</dict>
</plist>
